/*----------------------------------------------Importando CSS de Reset*/
@import url(reset.css);
body{
    background: #f9fc54;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}
.black{
    background: rgba(50,50,50,0.9);
}
/* ---------------------------------------------- Configurações globais*/
/* --------------------- Configurando a estrutura da Pagina no id-page */
#page{
    width: 100%;
    float: left;
    position: relative;
    height: 1000px;
}
#page .row{
    width: 100%;
    float: left;
}
/* ----- Efeito para caixa --*/
#page .ef-box{
    box-shadow: 0 15px 50px #777;
    -moz-box-shadow: 0 15px 50px #777;
    -webkit-box-shadow: 0 15px 50px #777;
}
/* ------------------------------------------- Configurando o cabeçalho*/
#page header{
    width: 100%;
    height: 150px;
    float: left;
    z-index: 9999;
    position: absolute;
    top:0;
    left: center;
    background: rgba(255, 255, 255, 0.5);
}
#page header .row .col-left{
    width: 50%;
    float: left;
}
#page header .row .col-left ul li{
    float: left;
}
#page header .row .col-right{
    width: 50%;
    float: right;
}
#page header .row .col-right ul li{
    float: left;
}
/* ------------------------------------------------ Configurando o main*/
#page main{
    width: 100%;
    float: left;
    position: relative;
    background: #fff;
}
#page main .row .banner{
    height: 500px;
    background: url(../img/banner.png) fixed top center no-repeat;
    /*background-size: 100%;*/
}
#page main .row .title-content{
    width: 100%;
    margin: 20px 0;
    font-size: 22px;
    text-align: center;
    text-shadow: 0 0 15px rgba(207, 230, 2, 0.6);
}
#page main .row .title-content hr{
    width: 30%;
    border-bottom: 1px solid rgba(207, 230, 2, 0.6);
}
/* ---------------------------------------------- Configurando o rodape*/
#page footer{
    width: 100%;
    float: left;
    position: relative;
    background: rgba(234,125,235,0.3);
}
/* --------------------- midia query Smartphone ate 380px de largura --*/
@media screen and (min-width: 1px) and (max-width: 380px){
    #page{
        background: #ccc;
    }
}
/* ---------------------- midia query Smartphone ate 481px de largura--*/
@media screen and (min-width: 381px) and (max-width: 481px){
    #page{
        background: #f099ccdd;
    }
}
/* ------------------------- midia query Tablet ate 768px de largura --*/
@media screen and (min-width: 482px) and (max-width: 768px){
    #page{
        background: #f0f;
    }
}
/* ------------------------ midia query Tablet ate 1024px de largura --*/
@media screen and (min-width: 769px) and (max-width: 1024px){
    #page{
        background: #44f;
    }
}
/* --------------- midia query DeskTop a partir de 1025px de largura --*/
@media screen and (min-width: 1025px){
    #page{
        background: #f00;
    }
    #page .container{
        width: 1024px;
        float: left;
        position: relative;
        left: 50%;
        margin-left: -512px;
        /*background: #fff;*/
    }
    #page header .row{
        width: 100%;
    }
    /*Solução da Simone*/
    /*#page header .row .col-left{
        margin-left: 7.5%;
    }
    #page header .row .col-right{
        margin-right: -7.5%;
    }*/
    #page header .row .container .col-left .contact-phone{
        color: #fff;
        margin: 15px 2px;
        float: left;
    }
    #page header .row .container .col-left .contact-phone ul li{
        padding: 0 5px;
    }
    #page header .row .container .col-left .contact-phone ul li a{
        color: rgb(200,200,200);
        text-decoration: none;
    }
    #page header .row .container .col-left .contact-phone ul li a:hover{
        color: #fff;
    }
    /*Configuração do Logo*/
    /*#page header .row .container .col-left #logo{
        width: 90px;
        background: transparent !important;
        float: left;
        margin: 10px 0;*/
    }
    #page header .row .container .col-left #logo h1{
        background: url(../img/logo.jpg);
        width: 88px;
        height: 88px;
        float: left;
        margin: 10px 0;
    }
    #page header .row .container .col-left #logo h1 span{display:none;}
    /*#page header .row .container .col-left .text-top{
        margin: 44px 0;
    }*/
    #page header .row .container .col-right .user-login{
        color: #fff;
        margin: 15px 2px;
        float: right;
    }
    #page header .row .container .col-right .user-login ul li{
        padding: 0 5px;
    }
    #page header .row .container .col-right .user-login ul li a{
        color: rgb(200,200,200);
        text-decoration: none;
    }
    #page header .row .container .col-right .user-login ul li a:hover{
        color: #fff;
    }

    /*Configuração redes sociais*/
    #page header .row .container .col-right .ico-social{
        float: right;
        margin: 10px 2px;
    }
    #page header .row .container .col-right .ico-social .ico-facebook span{display:none;}
    #page header .row .container .col-right .ico-social .ico-facebook{
        background: url(../img/face.png);
        float: right;
        width: 25px;
        height: 25px;
    }
    #page header .row .container .col-right .ico-social .ico-twitter span{display:none;}
    #page header .row .container .col-right .ico-social .ico-twitter{
        background: url(../img/twitter.png);
        float: right;
        width: 25px;
        height: 25px;
        margin-left: 5px;
    }
    /*Configuração da busca
    /*#page header .row .container .col-right .search{
        float: right;
        width:100%;
        margin: 0 0 7px 0;
    }
    #page header .row .container .col-right .search .frm{
        float: right;
    }
    #page header .row .container .col-right .search .frm label{display: none;}
    #page header .row .container .col-right .search .frm .txt-search{
        background: #ccdd99;
        padding: 3px 7px;
        border: 1px solid #fff;
        border-radius:7px;
    }
    #page header .row .container .col-right .search .frm .txt-search:hover{
        background: #f00;
        padding: 3px 7px;
        border: 1px solid #ff0;
        color: #fff;
        -webkit-box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.77);
        -moz-box-shadow:    0px 0px 20px rgba(255, 0, 0, 0.77);
        box-shadow:         0px 0px 20px rgba(255, 0, 0, 0.77);
    }
    #page header .row .container .col-right .search .frm .btn{
        background: #ccdd99;
        padding: 3px 7px;
        border: 1px solid #fff;
        border-radius: 7px;
    }
    #page header .row .container .col-right .search .frm .btn:hover{
        background: rgb(87, 177, 14);
        border: 1px solid rgb(87, 177, 14);
        -webkit-box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.77);
        -moz-box-shadow:    0px 0px 20px rgba(255, 0, 0, 0.77);
        box-shadow:         0px 0px 20px rgba(255, 0, 0, 0.77);
    }*/
/* -- Configuração do Menu Principal */
    #page header .row .container nav{
        float: right;
        margin:5% 25%;
        z-index: 9999;
        position: absolute;
    }
    #page header .row .container .menu{
        list-style: none;
        float: left;
    }
    #page header .row .container .menu li{
        position: relative;
        float: left;
    }
    #page header .row .container .menu li:first-child{border:none;}
    #page header .row .container .menu a{
        font-size: 14px;
        color: #333;
        text-decoration: none;
        padding: 5px 13px;
        display: block;
    }
    #page header .row .container .menu a:hover{
        background: #333;
        color: #fff;
        text-shadow: 0 0 5px #fff;
        box-shadow: 0 3px 10px 0 #ccc;
        -moz-box-shadow: 0 3px 10px 0 #ccc;
        -webkit-box-shadow: 0 3px 10px 0 #ccc;
    }
    #page header .row .container .menu .dropdown{
        position: absolute;
        top:22px;
        left: 0;
        background: #fff;
        display: none;
    }
    #page header .row .container .menu .dropdown li{border:none;}
    #page header .row .container .menu li:hover ul{display: block;}
    #page header .row .container .menu .dropdown li ul{
        position: absolute;
        top: 0px;
        left: 75px;
        background: #fff;
        display: none;
    }
    #page header .row .container .menu li ul li:hover ul{display: block;}
    #page main .row .col-4{
        width: 256px;
        min-height: 280px;
        float: left;
    }
    #page main .row .col-4:hover{
        background: #fff;
        box-shadow: 0px 0px 15px rgba(255,255,255,0.3);
        -moz-box-shadow: 0px 0px 15px rgba(255,255,255,0.3);
        -webkit-box-shadow: 0px 0px 15px rgba(255,255,255,0.3);
    }
    #page main .row .col-4 img{
        width: 226px;
        margin: 15px 15px;
        border: 1px solid #000;
        border-radius: 7px;
        box-shadow: 2px 3px 15px rgba(255,255,255,0.3);
        -moz-box-shadow: 2px 3px 15px rgba(255,255,255,0.3);
        -webkit-box-shadow: 2px 3px 15px rgba(255,255,255,0.3);
    }
    #page main .row .col-4 p{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode','Lucida Grande';
        text-align: center;
        font-size: 14px;
    }
    #page main .row .col-3{
        width: 33%;
        min-height: 280px;
        float: left;
    }
    #page main .row .col-3 iframe{
        width: 95%;
        height: 300px;
        padding: 5px;
        margin-left: 5px;
        border-radius: 7px;
        box-shadow: 2px 3px 15px rgba(255,255,255,0.3);
        -moz-box-shadow: 2px 3px 15px rgba(255,255,255,0.3);
        -webkit-box-shadow: 2px 3px 15px rgba(255,255,255,0.3);
    }
    #page main .row .col-3 p{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode','Lucida Grande';
        text-align: left;
        font-size: 14px;
    }
    #page main .row .col-3 img{
        width: 100%;
        border-radius: 7px;
        box-shadow: 2px 3px 15px rgba(255,255,255,0.3);
        -moz-box-shadow: 2px 3px 15px rgba(255,255,255,0.3);
        -webkit-box-shadow: 2px 3px 15px rgba(255,255,255,0.3);
    }
    #page main .row .col-2{
        width: 512px;
        float: left;
    }
    #page main .row .col-2 p{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode','Lucida Grande';
        text-align: justify;
        font-size: 14px;
        padding: 10px 20px;
    }
    #page main .row .col-2 img{
        width: 30%;
        float: left;
        margin: 15px;
        border-radius: 7px;
        box-shadow: 2px 3px 15px rgba(255,255,255,0.3);
        -moz-box-shadow: 2px 3px 15px rgba(255,255,255,0.3);
        -webkit-box-shadow: 2px 3px 15px rgba(255,255,255,0.3);
    }
    #page main .row .brand img{
        width: 45%;
        float:left;
        margin-left: 5%;
        border-radius: 50%;
        box-shadow: 2px 3px 30px rgba(10,10,10,0.9);
        -moz-box-shadow: 2px 3px 30px rgba(10,10,10,0.9);
        -webkit-box-shadow: 2px 3px 30px rgba(10,10,10,0.9);
    }
    #page main .row .brand img:first-child{margin-left:20px;}
    #page footer .row .col-4{
        width: 25%;
        height: 250px;
        float:left;
        background: #f00;
    }
    #page footer .row .logob img{
        float:left;
        margin: 20% 10px;
    }
    #page footer .row .logob p{
        float:left;
        margin-top: 125px;
        margin-right: 50px;
    }
    #page footer .row .col-4 h3{
        font-size: 14px;
        margin: 15px 5px;
        border-bottom: 1px solid #000;
    }
    #page footer .row .col-4 ul li{
        font-size: 14px;
        margin: 5px 0;
    }
    #page footer .row .col-4 nav ul li{
        font-size: 16px;
        padding: 4px;
    }
    #page footer .row .col-4 .frm{
        float: left;
    }
    #page footer .row .col-4 .frm label{display: none;}
    #page footer .row .col-4 .frm .txt{
        width: 300px;
    }